server {
        listen          80;
        server_name     {{ backend_cms_domain }};
        root            /srv/www/{{ cms_folder }}/backend;
        index           index.php;

        client_max_body_size 500M;

        location / {
                index index.php index.html index.htm;
                try_files $uri $uri/ @rewrite;
        }

        location ~ \.htaccess {
            deny all;
        }
        
        location ~ \.php$ {
                try_files $uri =404;                
                fastcgi_index index.php;
                fastcgi_pass  127.0.0.1:9000;                
                include       fastcgi_params;
        }

        location ~ /\.ht {
            deny  all;
        }

        location ~ /\.svn {
            deny  all;
        }

        location @rewrite {

                rewrite ^/(.*)$ /index.php?r=$1 last;
        }

}